<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>廖兴广</title>
	</head>
	
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->


	<body>
		
			测试页面：应当直接跳入static的VUE项目。
	</body>
	
	<script type="text/javascript">
		/*管理员-编辑*/
function editUser(){

	layer_show('修改用户信息','SpringBoot测试CURD_edit.html',300,600);
}
	</script>
</html>
